Makefile
config.log
pkg/comainu.iss
pkg/comainu_model.iss
pkg/dist
script/comainu.pl
script/comainu_setup.pl
script/wincomainu.pl
wincomainu_org.conf
tmp/
train*
*~
/sample*
CRF/
bccwj_out/
data/
historical/
out/
